@use "layout";
body{
  @include layout.pc {
    background-color: #f7f7f7;
  }
}
.wrap{
  @include layout.pc {
    background-color: #fff;
  }
}
header {
  width: 100%;
  max-width: 1920px;
  position: fixed;
  top: 0;
  z-index: 100;
  .header-top {
    // background: rgba(255, 255, 255, 0.9);
    background: transparent;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1e2235;
    // box-shadow: 0.125rem 0.125rem 0.25rem rgba($color: #000000, $alpha: 0.1);
    // outline: 0.1875rem solid red;
    .page-logo {
      width: 320px;
      height: 48px;
      // outline: 0.1875rem solid red;
      background: url(../images/icons/kimnnayeongLogo.svg) no-repeat center /
        contain;
      a {
        display: block;
        height: 100%;
      }
    }
  }
  .header-bottom {
    display: none;
    .scroll-bar {
      position: relative;
      left: 0;
      top: 0;
      height: 0.375rem;
      width: 100%;
      background: rgba(238, 238, 238, 0.2);
    }
    .scroll-gauge {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      background: #1e2235;
    }
  }

  @include layout.pc {
    .btn-menu-open,
    .btn-menu-close {
      display: none;
    }
    .gnb {
      ul{
        display: flex;
        gap: 32px;
        text-align: center;
      }
      li {
        font-size: 25.6px;
        font-weight: bold;
      }
      a {
        text-transform: capitalize;
      }
      .nav-item {
        color: #83818c;
        transition: 0.2s;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          bottom: -4.8px;
          left: 0;
          width: 100%;
          height: 0.25rem;
          background-color: #dfe2ea;
          border-radius: 0.125rem;
          opacity: 0;
          transition: 0.3s;
        }

        &.active {
          border-bottom: 0.25rem solid #1e2235;
          color: #1e2235;
        }

        &:not(.active):hover::before {
          opacity: 1;
          bottom: -4px;
        }

        &:not(.active):hover {
          color: #333;
        }
      }
    }
  }
  @include layout.tablet {
    .header-top {
      .btn-menu-open {
        width: 44px;
        height: 44px;
        position: relative;
        margin: auto 0;
        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 8%;
          transform: translateX(-50%);
          width: 100%;
          border-top: 0.25rem solid #1e2235;
        }
        &::after {
          top: auto;
          bottom: 8%;
          height: 19.2px;
          border-bottom: 0.25rem solid #1e2235;
        }
      }
      .gnb {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #1e2235;
        transform: translateX(100%);
        overflow: 0;
        visibility: hidden;
        transition: transform 0.3s;
        &.opened {
          overflow: 1;
          visibility: visible;
          transform: translateX(0);
          z-index: 200;
        }
        ul {
          display: grid;
          gap: 48px;
          text-align: center;
        }
        a {
          font-size: 2.75rem;
          font-weight: 900;
          text-shadow: -0.0625rem -0.0625rem 0 #fff, 0.0625rem -0.0625rem 0 #fff, -0.0625rem 0.0625rem 0 #fff,
            0.0625rem 0.0625rem 0 #fff;
          &.active,
          &:active,
          &:hover {
            color: #fff;
            text-shadow: none;
          }
        }
      }
      .btn-menu-close {
        position: fixed;
        right: 0.9375rem;
        top: 0.9375rem;
        width: 2.75rem;
        height: 2.75rem;

        &::before,
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 2.75rem;
          height: 0.1875rem;
          background: #fff;
        }
        &::after {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &.opened {
          display: block;
        }
      }
    }
  }

  @include layout.mobile {
    .gnb {
      display: none;
    }
    .header-top {
      .page-logo {
        background-image: url(../images/icons/nyLogo.svg);
        width: 3.125rem;
      }
    }
  }
}

main {
  h2 {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  h3 {
    font-size: 2.5rem;
    font-weight: 800;
    text-transform: capitalize;
    padding: 2rem 0;
  }

  #home {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 5rem;
    .intro-img {
      margin-top: 6rem;
    }
    .intro-cont {
      p {
        font-size: 6rem;
      }
    }
  }
  #profile {
    .about-me {
      .cont-wrap {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        p {
          font-size: 1.125rem;
          padding-bottom: 1.5rem;
        }
      }
      .about-meta-info {
        display: flex;
        gap: 1.25rem;
        align-items: center;
        flex-wrap: wrap;
        img {
          width: 6.25rem;
          height: 6.25rem;
          border-radius: 50%;
        }
        .info-txt {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }
      .educations {
        li {
          margin-bottom: 0.25rem;
        }
      }
    }
    .skills {
      li {
        margin-bottom: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .skill {
        width: 3.75rem;
        height: 3.75rem;
        border-radius: 1rem;
        background-color: #1e2235;
      }
      .bar {
        width: 80%;
        height: 1rem;
        background: #eee;
        .gauge {
          width: 90%;
          height: 100%;
          background: #1e2235;
        }
      }
    }
  }
  #work {
    .swiper-container {
      position: relative;
      width: 90%;
      margin: 0 auto;
      padding: 3rem 0;
      .swiper-button-prev {
        left: -3rem;
      }
      .swiper-button-next {
        right: -3rem;
      }
      .swiper-pagination {
        bottom: -1rem;
      }
    }
    .swiper {
      width: 100%;
      box-shadow: 0.0625rem 0.0625rem 0.25rem rgba(208, 208, 208);
    }
    .swiper-wrapper {
      padding-bottom: 1rem;
    }
    .swiper-slide {
      text-align: center;
    }
    figcaption {
      margin: 0 3.5rem;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      gap: 2.25rem;
      strong {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.125rem;
      }
      a {
        text-align: center;
        font-size: 2.25rem;
        text-transform: capitalize;
        color: #ccc;
        background: #000;
        padding: 0.5rem 0;
        border-radius: 0.5rem;
      }
    }
  }
  #contact {
    .social-wrap {
      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 1.5rem;
        column-gap: 3rem;
        li {
          &:nth-of-type(1),
          &:nth-of-type(2) {
            align-self: end;
          }
          &:nth-of-type(2n-1) {
            justify-self: end;
          }
          &:nth-of-type(2n) {
            justify-self: start;
          }

          a {
            display: block;
            background: transparent;
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
          }

          $colors: "#6AD737", "#FFE600", "#004182",
            "radial-gradient(56% 56% at 13.5% 86%, #FED276 0%, rgba(253, 189, 97, 0.975) 36.06%, #F6804D 60.42%, rgba(232, 61, 92, 0.0001) 99.48%), linear-gradient(149.61deg, #4E60D3 14.12%, #913BAF 24.48%, #D52D88 69.51%, #F26D4F 82.74%)";
          @each $color in $colors {
            $i: index($colors, $color);
            &:nth-of-type(#{$i}) {
              a:hover,
              a:active {
                background: #{$color};
                img {
                  filter: invert(100%)
                    sepia(37%)
                    saturate(0%)
                    hue-rotate(68deg)
                    brightness(104%)
                    contrast(100%)
                    drop-shadow(0.0625rem 0.0625rem 0.125rem lightgray);
                }
              }
            }
          }
        }
        .social-logo {
          margin: 0 auto;
          width: 4rem;
          height: 4rem;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          align-items: center;
        }
        .social-logo-title {
          margin-top: 0.75rem;
          text-align: center;
        }
      }
      .division-line {
        margin-right: 4rem;
        border-left: 0.0625rem solid #000;
        width: 0;
        height: 384px;
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 200;
        &::after {
          content: "or";
          position: relative;
          top: calc(50% - 2rem);
          left: -2.6875rem;
          padding: 16px;
          background: #fff;
        }
      }
      .contact-form {
        p {
          margin-bottom: 1rem;
        }
        label {
          padding-bottom: 6.25rem;
        }
        input,
        textarea {
          display: block;
          margin-top: 0.25rem;
          padding: 0.5rem 0.125rem;
          width: 100%;
          border-bottom: 0.125rem solid #000;
          &:hover,
          &:focus {
            background: rgba(238, 238, 238, 0.5);
          }
          &::placeholder {
            color: #ccc;
            font-style: italic;
          }
        }
        button {
          background: #000;
          color: #fff;
          padding: 0.5rem 0.75rem;
          float: right;
          cursor: pointer;
        }
        .invalid {
          border-color: red;
        }
      }
    }
  }

  @include layout.pc {
    #work {
      .swiper-wrapper {
        padding-bottom: 0;
      }
      figure {
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        img {
          width: 50%;
          flex: 1 1 0;
        }
        div {
          flex: 1 1 0;
        }
      }
      figcaption {
        justify-content: space-between;
      }
    }
  }
  @include layout.tablet {
    #home {
      .intro-cont {
        p {
          font-size: 6rem;
        }
      }
    }
    #contact {
      .social-wrap {
        .division-line {
          margin: 3.5rem auto;
          border-top: 0.0625rem solid #000;
          width: 60%;
          height: 0;
          &::after {
            top: -1.25rem;
            left: 0;
          }
        }
      }
    }
  }
  @include layout.mobile {
    #home {
      .intro-cont {
        p {
          font-size: 4.5rem;
        }
      }
    }
    #profile {
      .skills {
        .skill {
          width: 2.75rem;
          height: 2.75rem;
        }
        .bar {
          width: 70%;
          height: 1rem;
          background: #eee;
          .gauge {
            width: 90%;
            height: 100%;
            background: #1e2235;
          }
        }
      }
    }
    #work {
      .swiper-container {
        width: 100%;
        .swiper-button-prev,
        .swiper-button-next {
          display: none;
        }
      }
      figcaption {
        margin: 0 2rem;
        padding: 1rem 0;
        gap: 1rem;
        strong {
          font-size: 1.5rem;
        }
        p {
          font-size: 1rem;
        }
        a {
          text-align: center;
          font-size: 1.5rem;
          text-transform: capitalize;
          color: #ccc;
          background: #000;
          padding: 0.25rem 0;
          border-radius: 0.5rem;
        }
      }
    }
  }
}

footer {
  background: #1e2235;
  color: #cccccccc;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  ul {
    display: flex;
    gap: 1.5rem;
  }
  li {
    display: block;
    width: 2.75rem;
    height: 2.75rem;
    a{
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  $images: "github", "blog", "docs";
  @each $image in $images {
    $i: index($images, $image);
    li:nth-of-type(#{$i}) {
      background: url(../images/icons/#{$image}.svg) no-repeat center / cover;
    }
  }

  @include layout.tablet {
    display: block;
    text-align: center;
    ul {
      padding-bottom: 2rem;
      justify-content: center;
    }
  }
}
