$bp: 1024px;
@mixin mobile {
  @media (max-width: 720px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$bp - 1}) {
    @content;
  }
}
@mixin pc {
  @media (min-width: $bp) {
    @content;
  }
}

.wrap{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.section {
  width: 90%;
  margin: 0 auto;
  padding: 6rem 0;
}

.contents {
  display: flex;
  gap: 24px;
  .cont {
    flex: 1 1 0;
  }
  @include tablet {
    display: block;
    padding: 48px 0;
  }
}